<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupoonce.mensajes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FaqActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_faq"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grupoonce.mensajes.MainMenuActivity" />
        </activity>
        <activity
            android:name=".ServicesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_services"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grupoonce.mensajes.MainMenuActivity" />
        </activity>
        <activity
            android:name=".ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grupoonce.mensajes.MainMenuActivity" />
        </activity>
        <activity
            android:name=".MainMenuAdvisorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_main_menu_advisor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AdminMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_admin_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AdviserConfigurationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_adviser_configuration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChartsActivity"
            android:label="@string/title_activity_charts"
            android:parentActivityName=".AdminMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grupoonce.mensajes.AdminMenuActivity" />
        </activity>
    </application>

</manifest>